.personal-photo {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
    padding: 0 10px;
    transform: scale(0.9);
    transition: all 1s ease-out;
    opacity: 0;
    z-index: 200;
}

.personal-photo-appear {
    transform: scale(1);
    opacity: 1;
}

@media (min-width: 1200px) {
    
    .personal-photo {
        width: 400px;
        height: 400px;
    }
}